<label for="Option Quest">Type:</label>
<input list="Opt" id="Optionn Quest" name="Option Quest" />

<datalist id="Opt">
    <option value="Quiz">
    <option value="Survey">
</datalist>


<label for="Option Title">Title:</label>
<input list="OptTitle" id="Option Title" name="Option Title" />

<datalist id="OptTitle">
    <option value="Fizica">
    <option value="Matematica">
        <option value="Engleza">
        <option value="Franceza">>
</datalist>
<br>
<br>
<input type="button"  value="Create login">
<br>
<br>
<input type="button"  value="Solve login">