<div>
    <p>Title:</p>  <input type="text" ><!--set title for Quiz or Survey to add in DB-->
</div>
<br>
<div>
    <p>Description:</p>  <input type="text" ><!--set description for Quiz or Survey to add in DB-->
</div>
<br>

<div >
    <p>Creation Date: </p><input type="date" 
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="dateYMD"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"><!--set date creation for Quiz or Survey to add in DB-->
</div>
<br>
<div >
    <p>Expiration Date: <input type="date" 
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="dateYMD"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"></p><!--set date expiration for Quiz or Survey to add in DB-->
</div>
<br>
<div><label for="homepage">link:</label>
    <input type="url" id="homepage" name="homepage"><!--create unic linkget ID from Quiz or Survey which was created in DB-->
    <button type="button" class="btn"><a [routerLink]="[ '.', 'quiz-addQuest' ]"> Create Quiz</a></button>
    <button type="button" class="btn"><a [routerLink]="[ '.', 'survey-addQuest' ]"> Create Survey</a></button>
</div>