<div>
    <p>Title:</p>  <input type="text" >
</div>
<br>
<div>
    <p>Description:</p>  <input type="text" >
</div>
<br>

<div >
    <p>Creation Date: </p><input type="date" 
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="dateYMD"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
</div>
<br>
<div >
    <p>Expiration Date: <input type="date" 
          class="form-control"
          #datepickerYMD="bsDatepicker"
          bsDatepicker
          formControlName="dateYMD"
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"></p>
</div>
<br>
<div><label for="homepage">link:</label>
    <input type="url" id="homepage" name="homepage">
    <input type="button" value ="Save">
    <input type="button" value ="Add Quest">
</div>