<label>Type(Eg.:quiz):Title(Eg.:Fizica)</label>

<div>
    <p>Title:</p>  <input type="text" ><!--get Title by quiz for question from DB-->
</div>
<br>
<div>
    <p>Description:</p>  <input type="text" ><!--get description by quiz for question from DB-->
</div>
<br>
<div>
    <p>Answer:</p>  <input type="text" ><!-- SET ANSWER to java application by user's response and check if correct in Repository querry-->
</div><br>
<br><br>
<input type="button" value="Next Question"><br><!--get Question by quiz from DB-->
<input type="button" value="updateQuest"><br>
<input type="button" value="saveQuest"><br>
<input type="button" value="deleteQuest">