<label>Type(Eg.:quiz):</label>
    <br><br><br>

    <label for="Option Quest">Type:</label><br>
<input list="Opt" id="Optionn Quest" name="Option Quest" />

<datalist id="Opt"><!--select Quiz or Survey-->
    <option value="Quiz"><!--get pt titlurile din BD(Survey)-->
    <option value="Survey">
</datalist>
<br><br>
<!--get info available titles from DB (Survey) table-->
<label for="Option Title">Title:</label>
<br>
<input list="OptTitle" id="Option Title" name="Option Title" /><!--get lis of titles from DB-->

<br>
<datalist id="OptTitle"><!--select title for Quiz or Survey to add or get to/from DB-->
    <div *ngFor='let item of surveys'>
    <option value={{item.idSurvey}}.{{item.titlesSurvey}}></div>
</datalist>

 <!--get Title by quiz for question from DB-->

<br>
<div>
    <p>Description:</p>  <input type="text" ><!--get description by quiz for question from DB-->
</div>
<br>
<div>

    
<form action="">
    <input type="radio" name="answer" value="first"> First Answer<br>
    <input type="radio" name="answer" value="second"> Second Answer<br>
    <input type="radio" name="answer" value="third"> Third Answer
  <!-- SET ANSWER to java application by user's response and check if correct in Repository querry-->
    </form>
    
</div><br>
<br><br>
<input type="button" value="Next Question"><!--get Question by quiz from DB-->
